<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416946777861-su4ct8b8tqa9u3qf17fha42o53ea04ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416946777861-su4ct8b8tqa9u3qf17fha42o53ea04ai</string>
	<key>API_KEY</key>
	<string>AIzaSyCAJoKaSeaRk2cabFKTN0QYJqAbf34pEHY</string>
	<key>GCM_SENDER_ID</key>
	<string>416946777861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.t2rapp</string>
	<key>PROJECT_ID</key>
	<string>t2r-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>t2r-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416946777861:ios:570a3d8829dcb6dce6d16c</string>
</dict>
</plist>